updateSite/org.openntf.xsp.bootstrap.updateSite/artifacts.jar
updateSite/org.openntf.xsp.bootstrap.updateSite/content.jar
updateSite/org.openntf.xsp.bootstrap.updateSite/features
updateSite/org.openntf.xsp.bootstrap.updateSite/plugins
